.over {
     background-color: lightblue;
     width: 500px;
     height: 100px;
     border-radius: 5px;
     border-style: dotted;
     box-shadow: 20px 20px 10px #888888;
     padding: 7px;
}


.under {
  display: none;
}


.over:hover .under {
  display: block;
  background-color: pink;
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 10px 10px 5px #888888;
  padding: 7px;
}
