body {
  background-color: black;
}

.over {
     background-color: blue;
     width: 1500px;
     height: 220px;
     border-radius: 5px;
     border-style: double;
     border-color: orange;
     /*box-shadow: 20px 20px 10px #888888;*/
     padding: 7px;
     margin-top: 5px;
     margin-left: 60px;
     text-align: left;
     font-size: 40px;
     color: red;
     text-decoration: underline;
}

.under {
  display: none;
}


.over:hover .under {
  display: block;
  background-color: orange;
  width: 1500px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  border-color: blue;
  /*box-shadow: 10px 10px 5px #888888;*/
  padding: 7px;
}
