body{
  background-color: black;
}
.container {
     display:flex;
     width: 600px;
     height: 600px;
     background-color: yellow;
     flex-direction: column;
     border-style: solid;
     justify-content: space-around;
     align-items: center;
     margin: auto;
     margin-top: 145px;
     margin-bottom: 145px;
     flex-wrap: no-wrap;
     border-style: dotted;
     border-color: black;
}

.rad {
   display: flex;
   background-color: black;
   width: 500px;
   height: 100px;
   border-style: dashed;
   border-color: yellow;
   justify-content: space-around;

   align-items: center;
}

.item {
   background-color: yellow;
   width: 50px;
   height: 35px;
   border-style: inherit;
   border-color: black;
}
