.dropbtn {
    background-color: green;
    color: #ff3333;
    padding-left: 25px;
    font-size: 120px;
    border: none;
    padding: 7px;
    text-decoration: overline;
    text-align: center;
    border-radius: 5px;
    border-style: double;
    border-color: black;
    box-shadow: 20px 20px 10px red;
}


.dropdown-content {
    display: none;
    position: relative;
    background-color: green;
    min-width: 160px;
    border-radius: 5px;
    border-style: double;
    border-color: black;
}

.dropdown-content a {
    color: black;
    padding: 19px 120px;
    text-decoration: underline;
    display: block;
    font-size: 25px;
}

.dropdown-content a:hover {background-color: yellow}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;

  justify-content: space-around;

}

.flex-item {
  background: green;
  padding: 5px;
  width: 200px;
  height: 500px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

tr {
  background-color: yellow;
  color: black;
  text-decoration: underline overline;
  font-size: 25px;
}

h2 {
  background-color: yellow;
  text-decoration: underline;
  font-size: 30px;
}

img {
    margin-left: 200px;
    margin-top: 10px;
    float: right;
}

ol{
  background-color: orange;
}

h3{
  background-color: orange;
  font-family: 'Bungee Shade';font-size: 48px;
}

h4{
  background-color:red;font-size: 40px;
}

ol.sansserif {
    font-family: Arial, Helvetica, sans-serif;font-size: 24px;
}

button{
  font-size: 30px;
}

p{
  font-size: 40px;
  background-color: blue;
  color: white;
}
